* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ef476f;
  width: 720px;
  height: 720px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.display {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  height: 480px;
}

button {
  border: none;
  width: 120px;
  height: 100%;
  background-color: aqua;
  font-size: 20px;
}

.controls {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.pixel {
  background-color: #ffe8d6;
  outline: 1px solid #ddb892;
}

.pixel:hover {
  background-color: #ffd166;
}
